<%- include('partials/head'); %>
  <h1>test</h1>
  <h2>Results</h2>
  <%- include('partials/nav'); %>

    <section id="mainContent">
      <section id="chat">
        <section id="titleContainer">
          <%- include('partials/botHead'); %>
            <%- include('partials/obaMedeSvg'); %>
              <h3>Stel een vraag</h3>
        </section>
        <ul id="chatList">
          <li class="speechOba">
            <p>Welkom, ik ben obaAssistent.
              Graag help ik je verder met het vinden van informatie</p>
          </li>
          <li class="speechOba fallbackTyping">
            <p>obaAssistent is aan het typen</p>
          </li>
          <li id="speechBtnCateg" class="speechOba">
            <p>Neem een kijkje uit de catalogus:</p>
            <button type="button" class="searchButton" id="activiteitenButton"
              data-category="activiteiten">Activiteiten</button>
            <button type="button" class="searchButton" id="bookButton" data-category="boeken">Boeken</button>
            <button type="button" class="searchButton" id="randomDvdButton" data-category="dvds">DvD's</button>
            <button type="button" class="searchButton" id="cursusButton" data-category="cursussen">Cursussen</button>
          </li>
          <!-- <li id="speechInfoQ" class="speechOba">
            <p>Stel een vraag, bijvoorbeeld:</p>
            <button type="button" id="btnBook" class="searchButton">Ik zoek een boek</button>
          </li> -->
          <li class="showResult speechUser">
            <p>Ik zoek een boek</p>
          </li>
          <li id="chatListUser" class="speechUser"></li>
          <li>
            <%- include('partials/categoriesList'); %>
          </li>
          <li>
            <div id="searchResults"></div>
          </li>
        </ul>
        <span class="fallback"></span>
        <form id="searchForm">
          <input type="text" name="query" placeholder="Stel hier je vraag: bv ik zoek een boek" id="query" />
          <button type="submit" id="searchButton"></button>
        </form>
        <%- include('partials/loading'); %>

      </section>
      <%- include('partials/footer'); %>