<%- include('partials/head'); %> <%- include('partials/nav'); %>

    <section id="mainContent" class="max-widthGeneral">
      <section id="chat">
        <!-- introduction oba conversation model -->
        <ul>
          <li class="speechOba">
            <p>
              Welkom, ik ben obaAssistent. Graag help ik je verder met het vinden
              van informatie.
            </p>
          </li>
          <li class="speechOba fallbackTyping">
            <p>obaAssistent is aan het typen . . .</p>
          </li>
          <li id="speechBtnCateg" class="speechOba">
            <!-- catalogus buttons -->
            <%- include('partials/catalogusBtns'); %>
          </li>
        </ul>

        <span class="fallback"></span>

        <!-- content results -->
        <div class="results-container">
          <div id="searchResults"></div>
          <button id="loadMoreButton">meer resultaten laden</button>
          <div id="itemDetails"></div>
        </div>

        <%- include('partials/loading'); %>
      </section>

      <!-- search input -->
      <form id="searchForm">
        <input type="text" name="query" placeholder="Waar ben je naar op zoek?" id="query" />
        <button type="submit" id="searchButton" class="fa">&#xf1d9;</button>
      </form>

      <%- include('partials/footer'); %>
    </section>